/* contact page */

.contact-body {
  margin: auto;
  background: #263547;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: #ffffff;
  color: #263547;
  border: 2px solid #fd4345;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Montserrat', sans-serif;
}

.contact-grid p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted #263547;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 60px;
  padding-right: 2rem;
}

.landing-grid {
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffffff, #ffffff); 
  background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-color {
  background: #fd4345;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fd4345, #fd4345, #fd4345); 
  background: linear-gradient(to right, #fd4345, #fd4345, #fd4345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.shaneImg {
  height: 250px;
  border-radius:50%
}

.banner-text {
  background-color: #263547;
  color: #263547;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-top: 5em;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: #fdfdfd;
}

.banner-text hr {
  border-top: 5px dotted #fdfdfd;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: #fdfdfd;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: #fdfdfd;
  font-size: 10em;
  padding: 8px;
}

/* Footer */


/* #263547 blue */